body {
	background: #0c0c0e;
}

.saint {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.prayer,
.fallen {
	text-align: center;
	margin: 0 auto 100px;
	color: #fbfbfb;
	font-family: "Times New Roman", Times, serif;
	width: 400px;
}

.prayer-text {
	font-size: 20px;
}

.fallen-list {
	font-size: 20px;
	list-style-type: "† ";
	text-align: left;
	margin-left: 50px;
} 

